/*Document*/
body{
	width: 100%;
	height: 100%;
	background: url("../images/tileable_wood_texture/tileable_wood_texture.png");
}
.wrapper{
	width: 75%;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -70px auto;
	border-right: 1px solid grey;
	border-left: 1px solid grey;
}
.push{
	height: 70px;
}
/*Font Styles*/
@font-face{
	font-family: "Julius Sans One"; src: url("../fonts/Julius_Sans_One/JuliusSansOne-Regular.ttf");
}
@font-face{
	font-family: "Fredericka the Great"; src: url("../fonts/Fredericka_the_Great/FrederickatheGreat-Regular.ttf"); 
} 
@font-face{
	font-family: "Bungee Inline"; src: url("../fonts/Bungee_Inline/BungeeInline-Regular.ttf");
}
/*Navigation Section*/
nav{
	width: 100%;
	height: 100%;
	background: white;
	position: relative;
	overflow: auto;
	border-bottom: 1px solid grey;
}
h3{
	font-size: 1.5em;
	font-weight: bold;
	height: 100%;
	padding: 1em;
	float: left;
}

/*Header Section*/
header{
	width: 100%;
	height: 35em;
	position: relative;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/sailormoon header.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat; 
}

/*Content Section*/
section{
	background: white;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 100%;

}
h1{
	font-family: "Bungee Inline";
	text-align: center;
	font-size: 9em;
	color: black;
	text-shadow: 0px 0px 0px #fff;
	height: 100%;
	padding-top: 0.5em;
}
p{
	font-family: "Julius Sans One";
	font-size: 3em;
	font-weight: bold;
	padding: 1.5em;
}
br{
	font-size: 1em;
}
.row{
	margin-left: auto;
	margin-right: auto;
}
.col{
	background: pink;
	margin-left: auto;
	margin-right: auto;
	heig5t: 100%;
	width: 5em;
}
img{
	width: 100px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
}

/*Footer Section*/
footer{
	width: 100%;
	height: 50px;
	clear: both;
	border-top: 5px solid black;
	background: grey;
	padding: 20px;
	text-align: center;
}

/*Media Queries Section*/
@media screen  and (max-width: 1600px){
}/*laptops -- delete after -- reference's sake*/

@media screen and (max-width: 960px){
	body{
		background: red;
	}
	section{
	}
	/*Fonts*/
	h1{
	}
	h2{
	}

}/*desktop layout*/
@media screen and (max-width: 768px){
	body{
		background: orange;
	}
	section{
	}
	/*Fonts*/
	h1{
	}
	h2{
	}
}/*tablet*/
@media screen and (max-width: 650px){
	body{
	background: yellow;
	}
	section{
	}
	/*Fonts*/
	h1{}
	h2{}
	h3{}
}/*phone in landscape*/
